@model IEnumerable<WebInventoryManagementSystem_IT703_2016012187.Models.IncomingOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedOn)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierId) - @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Inventory.InventoryId) - @Html.DisplayFor(modelItem => item.Inventory.Location.Name)
            </td>
            <td>
                    @if (item.ReceivedOn == null) {
                        <a asp-action="ConfirmArrival" asp-route-id="@item.IncomingOrderId">Confirm |</a>
                    }
                    <a asp-action="Edit" asp-route-id="@item.IncomingOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IncomingOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncomingOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
